body {
    font-family: "Arial", sans-serif;
    margin: 0px;
    background-color: #fff;
    cursor: url('cursor.cur'),
        auto;
}

body a,
body input,
body textarea,
body select,
body label {
    cursor: url('cursor11.cur'), auto;
}

th,
h2 {
    font-family: "Roboto Slab";
}

body a {
    cursor: url('cursor.cur'),
        auto;

}

hr {
    border: none;
    border-top: 1px solid #cdcddd;
}

sup {
    font-size: 0.6em;
}

input,
select,
textarea {
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
}

.corporation {
    display: flex;

}

.toppy {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    margin: 0 -1.25%;
    justify-content: space-between;
}



.column {
    margin: 1.25%;
    width: 22.5%;
    min-width: 219px;
    box-sizing: border-box;
}

.cta {
    text-align: right;

}

.cta a {
    display: inline-block;
    padding: 14px 32px;
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    border: 2px solid #fd8300;
    border-radius: 50px;
}

.cta a:hover {
    border: 1px solid #cecedd;
    background-color: #fd8300;
    color: #fff;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow: inset 5px 5px 10px rgba(255, 255, 255, 0),
        inset -5px -5px 10px rgba(0, 0, 0, 0.3),
        0 0 5px -5px rgba(0, 0, 0, 1);
}


.super_offer {
    text-align: center;
    background-image: url(../img/fon.png);
    background-color: #000;
    background-size: cover;
    max-height: 200px;
    padding: 32px;
}

.super_offer h2 {
    font-size: 30px;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin: 1px;
}

.super_offer p {
    margin: 17px;
}

.currency p {
    font-size: 24px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.main {
    max-width: 713px;
}

.main h2,
.main h1 {
    font-family: "Roboto Slab";
}

.anagraph {
    max-width: 670px;
    margin: 0 0px;
    padding: 0 0 15px 0;


}

.anagraph a {
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.anagraph a:hover {
    text-decoration: none;
    color: #666;
}

.anagraph p {
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
}

.text {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Arial";
    text-align: center;
}

p.price {
    font-size: 40px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    margin: 0;
}

.currency {
    font-size: 24px;
    line-height: 1px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.top {
    padding: 0;
    background-color: #1f1f56;
}

.top-menu {
    align-items: center;
    padding: 20px 0;
}

.top-menu a {
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 -12px;
    padding: 10px;

}

.menu {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    font-family: "Arial";
}

.nav ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.nav li {
    display: inline-block;
    margin-right: 24px;
    padding: 1px;
}

.network a {
    background-image: url(../img/sprite.png);
    display: block;
}

a.fb {
    height: 19px;
    width: 10px;
}

a:hover.fb {
    height: 19px;
    width: 10px;
    background-position: 0 -19px;
}

a.tw {
    height: 15px;
    width: 18px;
    background-position: -39px -2px;
}

a:hover.tw {
    height: 15px;
    width: 18px;
    background-position: -38px -22px;
}

a.inst {
    height: 19px;
    width: 19px;
    background-position: -16px 0;
}

a:hover.inst {
    height: 19px;
    width: 19px;
    background-position: -16px -21px;
}

.phones,
.emails {
    position: relative;
    padding-left: 47px;
    margin: 0;

}

.pal::before {
    content: "";
    top: 14px;
    left: 230px;
    position: absolute;
    width: 1px;
    height: 51px;
    background-color: #e4e4ec;
}

.phones a,
.emails a {
    position: relative;
}

.phones p,
.emails p {
    margin: 10px 0 10px 0;
}



.phones a {
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
}

.phones a:hover {
    text-decoration: underline;
    color: #fd8300;
}

.emails a {
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    font-family: "Arial";
}

.emails a:hover {
    text-decoration: none;
    color: #fd8300;
}

.phones a::before,
.emails a::before {

    content: '';
    position: absolute;
    left: -30px;

}

.top-menu a::before,
.down_menu a::before {
    background-image: url(../img/sprite.png);
}

.tel {
    position: relative;
}

.tel::before {
    content: "";
    height: 17px;
    width: 16px;
    top: 2px;
    background-position: -62px 0;
    position: absolute;
}

.mailto {
    text-decoration: underline;
    position: relative;
}

.mailto::before {
    height: 13px;
    width: 17px;
    top: 2px;
    background-position: -84px -2px;
    position: absolute;
}

.skype::before {
    height: 19px;
    width: 18px;
    top: 0;
    background-position: -62px -21px;
}

.phones p,
.popular {

    display: block;
    display: flex;
}

.popular {
    display: flex;
    padding: 0 0 25px 0;
}

.popular a {
    text-decoration: none;
    margin: 12px;
}

.popular h {
    max-width: 100%;
}

.house h3 {
    font-size: 14px;
    line-height: 24px;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
    margin: 10px 0 0 0;
}

a .house:hover>h3 {
    text-decoration: underline;
}

.house p {
    margin: 0;
    max-width: 219px;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-family: "Arial";
}

.corporation {
    justify-content: space-between;
    padding-top: 35px;
}


.categories h3 {
    background-color: #1f1f56;
    color: #fff;
    margin: 0;
    padding: 15px;
}

.categories a {
    text-decoration: none;
}

.categories ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.radius h3 {
    border-radius: 3px 3px 0 0;
    font-family: "Roboto Slab";
}

.radius nav {
    border-radius: 0 0 3px 3px;
    overflow: hidden;
}

.outdoor_menu {
    max-width: 219px;
}

.outdoor_menu>li:not(:first-child)>a {
    border-top: 1px solid #cdcddd;
}

.outdoor_menu a {
    font-size: 14px;
    line-height: 24px;
    color: #25252c;
    font-family: "Arial";
    padding: 15px;
    margin: 0 0px;
    background-color: #e4e4ec;
    display: block;
    position: relative;
}

.outdoor_menu>li>a:after {
    content: "";
    position: absolute;
    border-top: 2px solid #666666;
    border-right: 2px solid #666666;
    right: 15px;
    top: 22px;
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
}

.outdoor_menu>li:hover>a:after {
    transform: rotate(135deg);
    border-color: #fff;
}

.outdoor_menu>li:hover>a {
    text-decoration: none;
    color: #fff;
    background-color: #fd8300;

}

.outdoor_menu>li:hover>.indoor_menu {
    display: block;
}

.indoor_menu {
    display: none;

}

.indoor_menu a {
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
    padding-left: 30px;
}

.indoor_menu a:hover {
    text-decoration: none;
    color: #666666;
    background-color: #cecedd;
}

.menu a {
    color: #b1b1d2;
    letter-spacing: 2px;
    line-height: 24px;
    text-decoration: none;
    font-size: 14px;

}

.menu a:hover {
    color: #fd8300;
}

.social a {
    display: block;
    background: url(../);
}

.down_menu {
    display: flex;
    min-width: 90px;
    padding: 20px 0 20px 0;
    margin: 0;
}

.footer_menu li {
    margin: 0 0 5px 0;
}

.footer_menu a:hover {
    color: #fc8a10;
    text-decoration: underline;
}

.down_menu,
.footer_menu a {
    font-size: 14px;
    line-height: 26px;
    color: #666666;
    font-family: "Arial";
    margin: 0;
    letter-spacing: none;
}

.down_menu a {
    text-decoration: none;
}

.down_menu ul {
    list-style: none;
    padding: 0;
}

.down menu a::before {
    background-image: url(../img/sprite.png);
}

.bottom {
    background-color: #ededf5;
}

.down {
    padding: 13px;
    background-color: #dcdce6;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-family: "Arial";
    text-align: center;
}

.center {
    margin-top: 45px;
}

.center p {
    width: 942px;
    height: 56px;
    font-size: 14px;
    color: #666666;
    font-family: "Arial";
}

.center h2 {
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.table {
    border-radius: 2px 2px 2px 2px;
    overflow: hidden;
}

.table td:last-child,
.table th:last-child {
    padding-right: 20px;
    text-align: right;
}

.table table {
    border-collapse: collapse;
    max-width: 960px;
    width: 100%;
}

.table thead {
    background-color: #1f1f56;
    color: #fff;
}

.table th,
.table td {
    text-align: left;
    padding: 10px 0 10px 20px;
}

.call-me {
    margin: 10px 0 40px 0;
}

.call-me p {
    margin: 0;
    height: 56px;
    font-size: 13px;
    color: #666666;
    font-family: "Arial";
}

.call-me a {
    margin-top: 20px;
    font-size: 14px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

h2.row {
    margin-top: 50px;
}

.table tbody {
    background-color: #e4e4ec;
}

.table tbody tr:hover {
    background-color: #fd8300;
    color: #fff;
}

.table tr+tr td {
    border-top: 1px solid #cdcddd;
}

.contact {
    display: block;
    display: flex;
}

.mar {
    padding: 10px 0 10px 0;
}

.columns p {
    margin: 0;
}

.columns-0 {
    margin-left: 60px;
}

.calonka p {
    float: left;
}

.column-1 {
    max-width: 240px;
    align-items: left;
}

.phone,
.post {
    position: relative;
    margin: 0;
}

.phone p {
    display: block;
    display: flex;
}

.phone a,
.post a {
    position: relative;
}

.phone a {
    font-size: 18px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}

.phone a:hover {
    text-decoration: underline;
    color: #fd8300;
}

.phone,
.post {
    position: relative;
    margin: 0;
    padding: 0;

}

.phone p,
.post p {
    margin: 10px 0 10px 0;
}

.post a {
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    font-family: "Arial";
}

.post a:hover {
    text-decoration: none;
    color: #fd8300;
}

.mail {
    text-decoration: underline;
    position: relative;
}

.col {
    margin: 0;
    padding: -20px;
    width: 22.5%;
    min-width: 219px;
    box-sizing: border-box;
}

.form {
    width: 50%;
}

.form table th {
    min-width: 230px;
}

.www {
    min-width: 465px;
}

input.www  {
    min-width: 100%;
}

.button {
    padding: 10px 25px 10px 25px;
    background-color: #fd8300;
    border: 2px solid #fd8300;
    color: #fff;
    border-radius: 25px;
}

.button p:hover {
    color: #000;
}

.form-bottom {
    display: flex;
    align-items: center;
}

.form-bottom input {
    margin: 10px;
}